<ion-view title="Cliente">
  <ion-nav-buttons side="right">
    <div class="button button-clear" ng-click="login()"><span class="icon ion-close"></span></div>
  </ion-nav-buttons>
  <ion-content has-footer="true" style="background-color:#DDD;!important">

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.email" type="text" placeholder="Nombre" style="text-align: center;">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.email" type="text" placeholder="Correo Electrónico" style="text-align: center;">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.email" type="password" placeholder="Contraseña" style="text-align: center;">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.email" type="text" placeholder="Número telefónico" style="text-align: center;">
      </label>
    </div>

    <button class="button button-block button-balanced" style="background-color:#34A3DB!important;" ng-click="register()">Registrame</button>
  </ion-content>
</ion-view>
