<ion-view title="Negocio">
  <ion-nav-buttons side="right">
    <div class="button button-clear" ng-click="back()"><span class="icon ion-close"></span></div>
  </ion-nav-buttons>
  <ion-content has-footer="true" style="background-color:#DDD;!important">

    <!--
    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.user.name" type="text" placeholder="Nombre del negocio" style="text-align: center;">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.user.email" type="text" placeholder="Correo Electrónico" style="text-align: center;">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.user.password" type="password" placeholder="Contraseña" style="text-align: center;">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.user.manager_name" type="text" placeholder="Nombre del dueño" style="text-align: center;">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.user.phone_number" type="text" placeholder="Número telefónico" style="text-align: center;">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="$parent.user.location" type="text" placeholder="Dirección" style="text-align: center;">
      </label>
    </div>

    <button class="button button-block button-balanced" style="background-color:#34A3DB!important;" ng-click="createUser()">Registrame</button> -->

    <br>

    <h3 style="text-align:center; color:#323C3E;">Subscribete</h3>
    <br>
    <p style="margin-left:20px; margin-right:20px; color:#323C3E;">Hasta este momento nuestro app solo tiene un negocio beta. Si deseas ser parte del grupo de negocios beta por favor dejanos tu correo electronico utilizando los campos de abajo.  </p>

    <br>

    <p style="margin-left:20px; margin-right:20px; margin-bottom:40px; color:#323C3E;">Atentamente, H3 at Bookiao</p>

    <div class="list list-inset">
      <label class="item item-input">
        <input  type="text" placeholder="Correo Electrónico" style="text-align: center;">
      </label>
    </div>

    <button class="button button-block button-balanced" style="background-color:#34A3DB!important;" ng-click="#">Subscribeme</button> 

  </ion-content>
</ion-view>
