<ion-view title="Perfil">
  <ion-content class="padding">

  	<!-- <div class="circular"><img src="../img/bg.png" alt="" /></div> -->

    <div ng-if="editMode == false">
      <div class="list list-inset">
        <div class='item'>
          <h2>{{ user.name }}</h2>
        </div>
      </div>
      <div class="list list-inset">
        <div class='item'>
          <h2>{{ user.email }}</h2>
        </div>
      </div>
      <div class="list list-inset">
        <div class='item'>
          <h2>{{ user.phone_number }}</h2>
        </div>
      </div>
      <button ng-click="toggleEditMode()" class="button button-block button-balanced"  style="background-color:#34A3DB!important;">Edit</button>
    </div>

    <div ng-if="editMode == true">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" value="{{ user.name }}" style="text-align: left;">
        </label>
      </div>
      <div class="list list-inset" >
        <label class="item item-input">
          <input type="text" value="{{ user.email }}" style="text-align: left;">
        </label>
      </div>

      <div class="list list-inset" >
        <label class="item item-input">
          <input type="text" value="{{ user.phone_number }}" style="text-align: left;">
        </label>
      </div>

      <div class="list list-inset" ng-if="user.userType == 'employee'">
        <label class="item item-input item-select">
          <div class="input-label">
            Negocio
          </div>
          <select ng-model="$parent.user.business">
            <div ng-repeat="business in businesses">
              <option ng-if="{{ business.id != user.business_id }}" value='{{ business.id }}'> {{ business.name }} </option>
              <option ng-if="{{ business.id == user.business_id }}" value='{{ business.id }}'> {{ business.name }} </option>
            </div>
          </select>
        </label>
      </div>

      <button ng-click="quitEditMode()" class="button button-block button-balanced"  style="background-color:#34A3DB!important;">Guardar</button>
    </div>

  </ion-content>
</ion-view>
