<ion-view title="Historial">
  <ion-content class="padding">
    <div class="card" ng-repeat="appointment in pastAppointments">
      <div class="item item-text-wrap">
        <span ng-if="user.userType == 'employee'"> {{ appointment.client }}</span> <br>
        <span ng-if="user.userType == 'client'"> {{ appointment.employee }}</span> <br>
        <small>
          {{ appointment.day }} a las {{ appointment.time }} <br>
          <span ng-repeat="service in appointment.services"> - {{ service }} <br> </span>
        </small>

      </div>
    </div>
  </ion-content>
</ion-view>
