<ion-view title="Perfil">
  <ion-content class="padding">

  	<div class="circular"><img src="../img/bg.png" alt="" /></div>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Jonathan Mc Beard" style="text-align: left;">
      </label>
    </div>
    <div class="list list-inset" >
      <label class="item item-input">
        <input type="text" placeholder="DMC" style="text-align: left;">
      </label>
    </div>

    <div class="list list-inset" >
      <label class="item item-input">
        <input type="text" placeholder="Barbero" style="text-align: left;">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="8:00 am - 5:00 pm" style="text-align: left;">
      </label>
    </div>

    <button class="button button-block button-balanced"  style="background-color:#34A3DB!important;">Guardar</button>
  </ion-content>
</ion-view>
