<ion-view title="{{ parsedCurrentDate }}">
  <ion-nav-buttons side="left">
    <a ng-click="showPopup()" class="button button-icon ion-calendar"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="card" ng-repeat="appointment in currentAppointments">
      <div class="item item-text-wrap">
        <span ng-if="user.userType == 'employee'"> {{ appointment.client }}</span> <br>
        <span ng-if="user.userType == 'client'"> {{ appointment.employee }}</span> <br>
        <small>
          La cita comienza a las {{ appointment.time }} <br>
          <span ng-repeat="service in appointment.services"> {{ service }} </span> <br>
        </small>

      </div>
    </div>

    <div ng-show="!currentAppointments.length" style="text-align:center;">
      <br>
      <h2 style="color:#323C3E;">Bookealo</h2>
      <p style="color:#323C3E;">No tienes citas para hoy. Crea una cita.</p>

      <br>
      <center>
        
        <a ng-click="openModal()" class="round-button"><h2 class="ion-compose" style="color:white;padding-top:18px;"></h2></a>
      </center>
      

    </div>
  </ion-content>

  <script id="date-picker.html" type="text/ng-template">
    <input type="date" ng-model="currentDate.date">
  </script>
</ion-view>
