<ion-view title="{{ currentDate.date }}">
  <ion-nav-buttons side="left">
    <a ng-click="showPopup()" class="button button-icon ion-calendar"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Actualizando citas"
      on-refresh="getAppointments()">
    </ion-refresher>
    <div class="card" ng-repeat="appointment in currentAppointments">
      <div class="item item-text-wrap">
        <span ng-if="user.userType == 'employee'"> {{ appointment.client }}</span> <br>
        <span ng-if="user.userType == 'client'"> {{ appointment.employee }}</span> <br>
        <small>
          La cita comienza a las {{ appointment.time }} <br>
          <span ng-repeat="service in appointment.services"> {{ service }} </span> <br>
        </small>
        <a href="tel:+1{{ appointment.phone_number }}">Llamar</a> <br>

      </div>
    </div>
  </ion-content>

  <script id="date-picker.html" type="text/ng-template">
    <input type="date" ng-model="currentDate.date">
  </script>
</ion-view>
