<ion-view title="Perfil">
  <ion-content class="padding">

  	<!-- <div class="circular"><img src="../img/bg.png" alt="" /></div> -->

    <div ng-if="editMode == false">
      <div class="list list-inset">
        <div class='item'>
          <h2>{{ user.name }}</h2>
        </div>
      </div>
      <div class="list list-inset">
        <div class='item'>
          <h2>{{ user.email }}</h2>
        </div>
      </div>
      <div class="list list-inset">
        <div class='item'>
          <h2>{{ user.phone_number }}</h2>
        </div>
      </div>
      <button ng-click="toggleEditMode()" class="button button-block button-balanced"  style="background-color:#34A3DB!important;">Edit</button>
    </div>

    <div ng-if="editMode == true">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model="user.name" value="{{ user.name }}" style="text-align: left;">
        </label>
      </div>
      <div class="list list-inset" >
        <label class="item item-input">
          <input type="text" ng-model="user.email" value="{{ user.email }}" style="text-align: left;">
        </label>
      </div>

      <div class="list list-inset" >
        <label class="item item-input">
          <input type="text" ng-model="user.phone_number" value="{{ user.phone_number }}" style="text-align: left;">
        </label>
      </div>

      <div class="list list-inset" ng-if="user.userType == 'employee'">
        <label class="item item-input item-select">
          <div class="input-label">
            Negocio
          </div>
          <select ng-model="selectedBusiness.business" ng-options="business.name for business in businesses"></select>
        </label>
      </div>

      <button ng-click="save()" class="button button-block button-balanced"  style="background-color:#34A3DB!important;">Guardar</button>
    </div>

  </ion-content>
</ion-view>
