<ion-view title="Historial">
  <ion-nav-buttons side="left">
    <a class="button button-icon ion-calendar"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <h1 style="float:right; color: #93D947;" class='ion-ios7-checkmark-outline'></h1>
        Alex Santos <br>
        <small>Hace en 30 mins</small>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h1 style="float:right; color: #93D947;" class='ion-ios7-checkmark-outline'></h1>
        Christian Rodriguez <br>
        <small>Hace en 60 mins</small>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h1 style="float:right; color: #93D947;" class='ion-ios7-checkmark-outline'></h1>
        Xiomara Figueroa <br>
        <small>Hace en 120 mins</small>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h1 style="float:right; color: #93D947;" class='ion-ios7-checkmark-outline'></h1>
        Ramphis Castro <br>
        <small>Hace en 180 mins</small>
      </div>
    </div>
  </ion-content>

</ion-view>
