<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar-balanced" style="background-color:#00B287;">
  <ion-nav-back-button class="button-icon icon">
    Back
  </ion-nav-back-button>
  <ion-nav-buttons side="right">
    <a ng-click="openModal()" class="button button-icon ion-compose"></a>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-tabs class="tabs-balanced">


  <!-- Citas Tab -->
  <ion-tab title="<img src='img/citas1.png' >" href="#/tab/citas">
    <ion-nav-view name="tab-citas"></ion-nav-view>
  </ion-tab>


  <!-- History Tab -->
  <ion-tab title="<img src='img/hist1.png' >" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="<img src='img/perfil1.png' >" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
