<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">
    <ion-nav-view></ion-nav-view>
  </body>

  <script id="create-booking.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-balanced bar bar-header nav-bar nav-title-slide-full disable-user-behavior  no-animation" style="background-color:#00B287;">
        <h1 class="title">Crear Cita</h1>
        <div class="buttons right-buttons"> <span class="">
          <a ng-click="closeModal()" class="button button-icon ion-close"></a>
        </span></div>
      </ion-header-bar>
      <ion-content>
        <div class="list list-inset">
          <label class="item item-input">
          <span class="input-label">Fecha</span>
          <input type="date" ng-model="booking.day">
        </label>
        </div>

        <div class="list list-inset">
           <input type="text" placeholder="Hora: 12:00 AM" style="text-align: center;" ng-model="booking.time">
      </label>
        </div>

        <div class="list list-inset">
          <label class="item item-input item-select">
            <div class="input-label">
              Servicio
            </div>
            <select ng-model="booking.services">
                <option ng-repeat="service in services" value="{{ service.id }}">{{ service.name }}</option>
            </select>
          </label>
        </div>

        <div class="list list-inset" ng-if="user.userType == 'client'">
          <label class="item item-input item-select">
            <div class="input-label">
              Empleado
            </div>
            <select ng-model="booking.employee">
                <option ng-repeat="employee in employees" value="{{ employee.id }}">{{ employee.name }}</option>
            </select>
          </label>
        </div>

        <div class="list list-inset" ng-if="user.userType == 'employee'">
          <label class="item item-input item-select">
            <div class="input-label">
              Cliente
            </div>
            <select ng-model="booking.client">
                <option ng-repeat="client in clients" value="{{ client.id }}"> {{ client.name }}</option>
            </select>
          </label>
        </div>

        <button class="button button-block button-balanced" style="background-color:#34A3DB!important;" ng-click="createBooking()">Crear</button>
      </ion-content>
    </ion-modal-view>
  </script>
</html>
