/* Empty. Add your own CSS if you like */

#login-view .scroll-content {
  background: url(../img/bg.png) no-repeat center center fixed;
  background-size: cover;
}

.login-header {
  color: white;
  border-bottom: solid 2px #000000;
  border-bottom-color: white;
  display: inline;
  padding-bottom: 3px;
}